* {
    margin: 0;
}

body {
    background-color: #edefee;
    font-family: 'Markazi Text', serif;
}

.title {
    color: #495e57;
}

h1 {
    font-size: 3.7rem;
    text-align: start;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

.copyright {
    color: #f4ce14;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 30px;
    background-color: #2fa49e;
    box-shadow: 0px 26px 59px -10px rgba(17, 36, 35, 0.348);
    margin-bottom: 3rem;
}

nav {
    flex: 0.9;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    padding: 1%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-self: center;
    font-size: 1.6rem;
}

nav ul a:link {
    color: #495e57;
}

nav ul a:hover,
nav ul a:active,
nav ul a:visited {
    color: #f4ce14;
}

.container {
    min-height: 80vh;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

section {
    display: flex;
}

.first {
    display: flex;
    justify-content: space-between;
    border-color: #495e57;
    border-style: dashed;
    border-width: 3px;
    border-radius: 15px;
}

.first p {
    font-size: 1.3rem;
}

.first div {
    flex: 1;
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div:has(h1) {
    align-items: start;

    padding: 20px;
}

div:has(.first-img) {
    align-items: center;
}

.first-img {
    max-width: 250px;
    transform: rotateX(40deg);
}

main>section:nth-child(2) {
    padding-top: 4rem;
}

article:has(h2) {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
}

footer {
    display: flex;
    background-color: #2fa49e;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
}

footer div h3 {
    margin-left: 2rem;
}

footer .logo {
    margin-right: 2rem;
    max-height: 150px;
}