body {
    padding: 30px;
}

.box {

    background-color: lightcoral;
    width: 50px;
    height: 50px;
    animation: myanimation 3s infinite ease-in;

}

#ball {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(79, 79, 189);
    animation: bounce 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(640px, 0, 0);
    }
}

/* @keyframes myanimation {
    0% {
        width: 50px;
    }

    50% {
        background-color: aquamarine;
        height: 20px;
    }

    100% {
        width: 100px;
    }
} */